<div class="container my-5">
  <h3><%= @article.title %></h3>

  <hr class="col-1 my-4" />
  <p><%= @article.body %></p>

  <hr class="col-1 my-4" />
  <h5>Comments</h5>
  <%= render @article.comments %>

  <h6>Add a comment:</h6>
  <%= render 'comments/form' %>

  <ul>
    <%= link_to "Edit", edit_article_path(@article), class:"btn btn-primary"%>
    <%= link_to "Destroy", article_path(@article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } , class:"btn btn-secondary"%>
  </ul>
</div>